/*Ajutes para Unir Bootsatrap con Materializer*/

.form-group {
    margin-top: 0;
    margin-bottom: 0;
}

label.control-label {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-nav li {
 
    max-width: 150.484px;
/*overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;*/
}
.carretes{
    padding: 0px;

}

.titleName {
 vertical-align: top;
    
    padding: 0px;
    max-height: 20px;
overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: pre;*/
}
ul.side-nav li a div.titleName {
 vertical-align: top;
    
    padding: 0px;
    max-height: 40px;
overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: pre;*/
}
.navbar .dropdown-menu li>a {
    padding-top: 0;
    padding-bottom: 0;
    /*   Cambia el Ancho del atributo*/
    width: 200.484px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}
a:hover,
.btn-group-sm>.btn, .btn-sm:hover,
a.button-collapse:hover,
.side-nav a {
    text-decoration: initial;
}
.btn{
    margin: 0px;
}
.row{
    margin-bottom: 0px;
}

a.button-collapse {
    color: white;
    text-decoration: none;
/*     position: absolute;
top: 0px;
left: 0px; */
}

.side-nav a:hover,
.navbar .dropdown-menu li:hover,
.navbar .dropdown-menu li>a:hover {
    overflow: visible;
    white-space: normal;
    white-space: nowrap;
    color: #388e3c;
    text-decoration: none;
}

.navbar .dropdown-menu li {
    /* padding-right:  100%;*/
}

.dropdown-menu .divider {
    width: 100%;
    margin-top: 5;
    margin-bottom: 5;
}

#a {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}
@media only screen and (max-width: 767px) {
    #a {
        position: absolute;
    }

    }

@media only screen and (max-width: 992px) {
    #a {
        /*position: absolute;*/
    }
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  nav .brand-logo.left, nav .brand-logo.right {
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
  nav .brand-logo.left {
    left: 0.5rem;
  }
  nav .brand-logo.right {
    right: 0.5rem;
    left: auto;
  }
}
.navbar .navbar-nav>li>a,
.navbar .navbar-brand {
    height: 60px;
}
nav {
    height: 60px;
}



/*i>input{
    padding-right:  100%;
    padding-left:  100%;
}*/